ion-content {
  --background: url(../../assets/bgNew.png);
  --background-size: cover;
}

.card-background-page {
  ion-button {
    --background: none;
    // background-image: url("../../assets/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }

  ion-button.larger {
    height: 5em;
  }

  .shoes {
    background-image: url("../../assets/shoes.jpg");
  }

  .pants {
    background-image: url("../../assets/pants.jpg");
  }
  .hoodies {
    background-image: url("../../assets/hoodies.jpg");
  }
  .shirts {
    background-image: url("../../assets/shirts.jpg");
  }
  .acc {
    background-image: url("../../assets/acc.jpg");
  }

  .jackets {
    background-image: url("../../assets/shirts2.jpg");
  }

  .shorts {
    background-image: url("../../assets/shorts.jpg");
  }

  //   .card-title {
  //     position: absolute;
  //     top: 42%;
  //     font-size: 2em;
  //     width: 100%;
  //     // font-weight: bold;
  //     color: white;
  //   }
}

.weatherCSS {
  .widget {
    display: flex;
    width: inherit;
    height: inherit;
    flex-wrap: wrap;
    cursor: pointer;

    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

    .weatherIcon {
      height: 60%;
      width: 20%;
      background: var(--ion-color-tertiary);
      display: inherit;
      align-items: center;
      justify-content: space-around;
    }

    .weatherInfo {
      width: 80%;
      // background: #080705;
      background: var(--ion-color-dark);
      display: inherit;
      align-items: center;
      color: white;

      .temperature {
        width: 48%;
        height: inherit;
        font-size: 4em;
        display: inherit;
        margin-left: 0.2em;
      }

      .description {
        text-transform: uppercase;
        display: inherit;
        flex-direction: column;
        width: 100%;
        justify-content: left;

        .weatherCondition {
          text-transform: uppercase;
          font-size: 1.5em;
        }

        .place {
          font-size: 1em;
          padding-top: 0.4em;
        }
      }
    }
  }
}
