ion-content {
  --background: url(../../assets/bgNew.png);
  --background-size: cover;
}

ion-footer {
  ion-toolbar {
    --background: url(../../assets/bgNew.png);
    --background-size: cover;
  }
}
